<div class="nav-container ">
    <div class="bar bar--sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-3 col-md-2">
                    <a href="index.html">
                        <img class="logo logo-dark" alt="logo" src="/assets/img/logo-dark.png" />
                        <img class="logo logo-light" alt="logo" src="/assets/img/logo-light.png" />
                    </a>
                </div>
                <div class="col-9 col-md-10 text-right">
                    <a href="#" class="hamburger-toggle" data-toggle-class="#menu2;hidden-xs hidden-sm">
                        <i class="icon icon--sm stack-interface stack-menu"></i>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    <!--end bar-->
    <nav id="menu2" class="bar bar-2 hidden-xs bar--absolute" data-scroll-class='90vh:pos-fixed'>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center text-left-sm hidden-xs order-lg-2">
                    <div class="bar__module">
                        <a href="index.html">
                            <img class="logo logo-dark" alt="logo" src="/assets/img/germfreemd.png" />
                            <img class="logo logo-light" alt="logo" src="/assets/img/germfreemd.png" />
                        </a>
                    </div>
                    <!--end module-->
                </div>
                <div class="col-lg-5 order-lg-1">
                    <div class="bar__module">
                        <ul class="menu-horizontal text-left">
                            <li>
                                <a href="/">
                                    Home
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--end module-->
                </div>
                <div class="col-lg-5 text-right text-left-xs text-left-sm order-lg-3">
                    <div class="bar__module">
                        {%- comment -%}
                        <a class="btn btn--sm type--uppercase" href="#">
                            <span class="btn__text">
                                Try Builder
                            </span>
                        </a>
                        {%- endcomment -%}
                        <a class="btn btn--sm btn--primary type--uppercase" href="#">
                            <span class="btn__text">
                                Buy Now
                            </span>
                        </a>
                    </div>
                    <!--end module-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>
    <!--end bar-->
</div>