<section class="cover height-90 imagebg parallax" data-overlay="5">
    <div class="background-image-holder">
        <img alt="background" src="/assets/img/tv.png" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-9 col-lg-7">
                <h1>
                    Holistic Education for Tomorrow's Leaders
                </h1>
                <p class="lead">
                    Stack offers a clean and contemporary look to suit a range of purposes from corporate, tech startup, marketing site to digital storefront.
                </p>
                {%- comment -%}
                <div class="modal-instance block">
                    <div class="video-play-icon video-play-icon--sm modal-trigger"></div>
                    <span>
                        <strong>2016 Alumni Wrapup</strong>&nbsp;&nbsp;&nbsp;104 Seconds</span>
                    <div class="modal-container">
                        <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                            <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                        </div>
                        <!--end of modal-content-->
                    </div>
                    <!--end of modal-container-->
                </div>
                {%- endcomment -%}
                <!--end of modal instance-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

{%- comment -%}
<section class="cover unpad--bottom switchable switchable--switch bg--secondary text-center-xs">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-md-6 col-lg-5 mt-0">
                <h1>
                    GermFree Purifier
                </h1>
                <p class="lead">
                    The Most Advanced Purification Mechanisms
                    In One Commercial Grade Air and Surface Purifier
                    
                </p>
                <a class="btn btn--primary type--uppercase" href="#">
                    <span class="btn__text">
                        Buy Now
                    </span>
                </a>
                <span class="block type--fine-print">or
                    <a href="learn-more">Learn More</a>
                </span>
            </div>
            <div class="col-md-6">
                <img alt="Image" src="/assets/img/unit_no_background.png" />
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{%- endcomment -%}