<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GermFreeMD Purifier</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/assets/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body class=" ">
        <a id="start"></a>
        <div class="nav-container ">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-3 col-md-2">
                            <a href="index.html">
                                <img class="logo logo-dark" alt="logo" src="/assets/img/germfreemd.png" />
                                <img class="logo logo-light" alt="logo" src="/assets/img/germfreemd.png" />
                            </a>
                        </div>
                        <div class="col-9 col-md-10 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                <i class="icon icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end bar-->
            {% include /stack/nav.html %}
            <!--end bar-->
        </div>
        <div class="main-container">
            <section class="cover height-100 imagebg parallax" data-overlay="4">
                <div class="background-image-holder">
                    <img alt="background" src="/assets/img/gfp-shelf.png" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-9 col-lg-7">
                            <h1>
                                GermFree Purifier
                            </h1>
                            <p class="lead">
                                The Most Advanced Purification Mechanisms in One Commercial Grade Unit! The most advanced "Occupied Space" infection control technologies available, in a quiet, small footprint, commercial grade application.
                                {%- comment -%}
                                Peace of mind protection for up to 4,000 sq.ft.
                                Safe for people and pets!
                                {%- endcomment -%}
                            </p>
                            {%- comment -%}
                            <div class="modal-instance block">
                                <div class="video-play-icon video-play-icon--sm modal-trigger"></div>
                                <span>
                                    <strong>2016 Alumni Wrapup</strong>&nbsp;&nbsp;&nbsp;104 Seconds</span>
                                <div class="modal-container">
                                    <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                                        <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                                    </div>
                                    <!--end of modal-content-->
                                </div>
                                <!--end of modal-container-->
                            </div>
                            {%- endcomment -%}
                            <!--end of modal instance-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable switchable--switch feature-large">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6 col-12">
                            <div class="video-cover border--round box-shadow-wide">
                                <div class="background-image-holder">
                                    <img alt="image" src="/assets/img/insurance-2.jpg" />
                                </div>
                                <div class="video-play-icon"></div>
                                <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                            </div>
                            <!--end video cover-->
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="switchable__text">
                                <h2>Titlee</h2>
                                <p class="lead">
                                    Lead goes here...
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <h2>Title goes here</h2>
                            <p class="lead">
                                Lead goes here...
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature feature-1 boxed boxed--border">
                                <h5>Viruses</h5>
                                <p>
                                    Short burb goes here for topic
                                </p>
                                <!-- <a href="#">
                                    Learn More
                                </a> -->
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-1 boxed boxed--border">
                                <h5>Shedding</h5>
                                <p>
                                    Short burb goes here for topic
                                </p>
                                <!-- <a href="#">
                                    Learn More
                                </a> -->
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-1 boxed boxed--border">
                                <h5>Allergens</h5>
                                <p>
                                    Short burb goes here for topic
                                </p>
                                <!-- <a href="#">
                                    Learn More
                                </a> -->
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-1 boxed boxed--border">
                                <h5>Mold</h5>
                                <p>
                                    Short burb goes here for topic
                                </p>
                                <!-- <a href="#">
                                    Learn More
                                </a> -->
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-1 boxed boxed--border">
                                <h5>Dust</h5>
                                <p>
                                    Short burb goes here for topic
                                </p>
                                <!-- <a href="#">
                                    Learn More
                                </a> -->
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-md-4">
                            <div class="feature feature-1 boxed boxed--border">
                                <h5>Smoke/Odors</h5>
                                <p>
                                    Short burb goes here for topic
                                </p>
                                <!-- <a href="#">
                                    Learn More
                                </a> -->
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="cover height-80 imagebg text-center" data-overlay="6">
                <div class="background-image-holder">
                    <img alt="background" src="/assets/img/tv.png" />
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="h1">Title goes here</span>
                            <p class="lead">
                                Lead goes here...
                            </p>
                            {%- comment -%}
                            <div class="modal-instance block">
                                <div class="video-play-icon video-play-icon--sm modal-trigger"></div>
                                <span>
                                    <strong>See Stack in action</strong>&nbsp;&nbsp;&nbsp;104 Seconds</span>
                                <div class="modal-container">
                                    <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                                        <iframe data-src="https://www.youtube.com/embed/6p45ooZOOPo?autoplay=1" allowfullscreen="allowfullscreen"></iframe>
                                    </div>
                                    <!--end of modal-content-->
                                </div>
                                <!--end of modal-container-->
                            </div>
                            {%- endcomment -%}
                            <!--end of modal instance-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center bg--secondary">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-8">
                            <h2>Breakthrough Technologies</h2>
                            <p class="lead">
                                Proactively helps protect against indoor Air and Surface contamination from viruses, shedding, allergens, molds, smoke, dust and odors.
Breathe Better, Sleep Better, Feel Better, Guaranteed!

                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable bg--secondary">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-md-6">
                            <ul class="accordion accordion--oneopen accordion-2 switchable__text">
                                <li>
                                    <div class="accordion__title">
                                        <span class="h5">Hydro-Peroxide Molecules</span>
                                    </div>
                                    <div class="accordion__content">
                                        <p class="lead">
                                            Advanced Photo-Catalytic ionization (APCO), originally developed by NASA, this breakthrough technology creates safe and effective scrubbing molecules that are emitted from the purifier via air flow and “the law of gasses” to treat indoor air and surface contaminants.  
                                        </p>
                                        <p class="lead">
                                            A powerful UVC disinfectant light beam strikes titanium dioxide and other catalytic metals within the unit creating agile super oxides and hydro peroxide molecules, which attack and destroy the bonds of pollutant particles both inside and outside of the purification unit.  Once pollutants are rendered inert, the resultant compounds are safe carbon and water molecules (humidity).
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion__title">
                                        <span class="h5">Plasma Ions</span>
                                    </div>
                                    <div class="accordion__content">
                                        <p class="lead">
                                            This revolutionary technology created by the SHARP™ Corporation, far exceeds HEPA filtration.  Plasma Ions break down air pollutants instead of merely trapping them in a filter.  A powerful field of positive and negative ions is created which act to surround harmful environmental pollutants.  
                                        </p>
                                        <p class="lead">
                                            The ions bond together to encapsulate particles and pollutants then attack protein membranes to kill contaminants and reduce allergens and infection inside and outside of the purification unit.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion__title">
                                        <span class="h5">Pulsed Negative Ions</span>
                                    </div>
                                    <div class="accordion__content">
                                        <p class="lead">
                                            Negative ions work (as in nature) to join airborne particulate into groupings (clumps) serving two purposes. 
                                            <br>1. The contaminant clumps become heavy and almost instantly fall to the ground out of active breathing space thus reducing toxin and allergen burden.  This is your fastest protection from airborne particulate.  
                                            <br>2. The  resultant particulate clumps increase the effectiveness and efficiency of existing HEPA and HVAC air handling units by making the particulate clumps easier to trap in standard filtration systems.  There is also a noticeable stress reducing effect with many users reporting improved sleep patterns.

                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion__title">
                                        <span class="h5">Activated Oxygen</span>
                                    </div>
                                    <div class="accordion__content">
                                        <p class="lead">
                                            This optional and scalable feature is for odor reduction and freshness.  Activated oxygen otherwise known as ozone, is highly effective for rapidly reducing odors from biological and chemical off gassing, smoke, mold, cooking, smelly pets and people.
                                        </p>
                                        <p class="lead">
                                            (This unit may be operated effectively without the use of the active oxygen features.)  It may be used on low settings in occupied spaces to provide a fresh clean smell.   Also included are un-occupied options for high concentration application as needed.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion__title">
                                        <span class="h5">Washable HEPA filter</span>
                                    </div>
                                    <div class="accordion__content">
                                        <p class="lead">
                                            A washable and reusable HEPA filter coated with activated carbon for additional odor elimination is included.  Filtration at the unit is not the primary goal of this technology, rather it is important to assure particle free air enters the unit for optimum efficiency and longevity of the unit, while providing an additional cost effective level of purification.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion__title">
                                        <span class="h5">Commercial Grade</span>
                                    </div>
                                    <div class="accordion__content">
                                        <p class="lead">
                                            The GermFree Purifier was designed to outlast most purifiers made with residential or consumer grade components including fans, motors, electronics, power cables, etc.  This unit is ideal for any residential or commercial environment.  It’s built for continuous use, stress free, near quiet, operation.  Set it and forget it. *Notification of cleaning alert will flash when filter rinse/replace is required.  Approximately every 4 months of continuous use.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion__title">
                                        <span class="h5">Remote Control and Timed Operation</span>
                                    </div>
                                    <div class="accordion__content">
                                        <p class="lead">
                                            All purification, fan and lights out (night time), as well as timed operation settings for 1,2,4,6,8,10 hour operation, may be conveniently controlled via included remote control as well as from the unit control panel.
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion__title">
                                        <span class="h5">Lights out sleep settings</span>
                                    </div>
                                    <div class="accordion__content">
                                        <p class="lead">
                                            Convenient option to turn off the units visible lights and displays, in order to not disrupt sleep when used in bedrooms. *Bedroom use is highly recommended as the unit creates an ideal environment for rest and recovery with an abundance negative ions, increased oxygen level and reduction of accumulated allergens from dust, bedding and pillows.  Many users report a dramatic improvement in sleep patterns.

                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion__title">
                                        <span class="h5">Replacement Parts</span>
                                    </div>
                                    <div class="accordion__content">
                                        <p class="lead">
                                            APCO Cell with UVC light, should be replaced every 12 months of continuous use for optimum performance ($89).  Reusable (washable) HEPA/Carbon rear filter should be replaced every 4th cleaning ($39).  Activated Oxygen (ozone) Plate, (if used) should be replaced annually or semiannually as needed ($29).
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="accordion__title">
                                        <span class="h5">Two Year MFG Warranty</span>
                                    </div>
                                    <div class="accordion__content">
                                        <p class="lead">
                                            The GermFree Purifier is built with unparalleled quality and is designed for long-lasting, efficient performance. The unit also comes with a two-year warranty which is automatically activated on the date of purchase (no need to register warranty). This warranty guarantees all aspects of the purifier, excluding the plate and rear filter assembly which require annual or semiannual replacement due to normal use.  Customer Service is happy to assist re. warranty questions and replacement components at (888) 559-5953, M-F 9:AM to 5:PM CST
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <!--end accordion-->
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <img alt="Image" class="" src="/assets/img/germfree-purifier-453x645.png" />
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="unpad">
                <div class="row--gapless row">
                    <div class="col-md-4 col-6">
                        <a href="#" class="block">
                            <div class="feature feature-7 boxed text-center imagebg" data-overlay="3">
                                <div class="background-image-holder">
                                    <img alt="background" src="/assets/img/education-5.jpg" />
                                </div>
                                <h4 class="pos-vertical-center">Future Students</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-6">
                        <a href="#" class="block">
                            <div class="feature feature-7 boxed text-center imagebg" data-overlay="5">
                                <div class="background-image-holder">
                                    <img alt="background" src="/assets/img/education-6.jpg" />
                                </div>
                                <h4 class="pos-vertical-center">Current Students</h4>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-6">
                        <a href="#" class="block">
                            <div class="feature feature-7 boxed text-center imagebg" data-overlay="5">
                                <div class="background-image-holder">
                                    <img alt="background" src="/assets/img/education-7.jpg" />
                                </div>
                                <h4 class="pos-vertical-center">Alumni</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>A trusted partner to the best</h2>
                            <p class="lead">
                                Switching out the logos...
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-inline list-inline--images">
                                <li>
                                    <img alt="Image" src="/assets/img/partner-1.png" />
                                </li>
                                <li>
                                    <img alt="Image" src="/assets/img/partner-5.png" />
                                </li>
                                <li>
                                    <img alt="Image" src="/assets/img/partner-7.png" />
                                </li>
                                <li>
                                    <img alt="Image" src="/assets/img/partner-4.png" />
                                </li>
                                <li>
                                    <img alt="Image" src="/assets/img/partner-6.png" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class=" ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="slider slider--inline-arrows" data-arrows="true">
                                <ul class="slides">
                                    <li>
                                        <div class="testimonial row justify-content-center">
                                            <div class="col-lg-2 col-md-4 col-6 text-center">
                                                <img class="testimonial__image" alt="Image" src="/assets/img/avatar-round-1.png" />
                                            </div>
                                            <div class="col-lg-7 col-md-8 col-12">
                                                <span class="h3">&ldquo;We’ve been using Stack to prototype designs quickly and efficiently. Needless to say we’re hugely impressed by the style and value.&rdquo;
                                                </span>
                                                <h5>Maguerite Holland</h5>
                                                <span>Interface Designer &mdash; Yoke</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="testimonial row justify-content-center">
                                            <div class="col-lg-2 col-md-4 col-6 text-center">
                                                <img class="testimonial__image" alt="Image" src="/assets/img/avatar-round-4.png" />
                                            </div>
                                            <div class="col-lg-7 col-md-8 col-12">
                                                <span class="h3">&ldquo;I've been using Medium Rare's templates for a couple of years now and Stack is without a doubt their best work yet. It's fast, performant and absolutely stunning.&rdquo;
                                                </span>
                                                <h5>Lucas Nguyen</h5>
                                                <span>Freelance Designer</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="testimonial row justify-content-center">
                                            <div class="col-lg-2 col-md-4 col-6 text-center">
                                                <img class="testimonial__image" alt="Image" src="/assets/img/avatar-round-3.png" />
                                            </div>
                                            <div class="col-lg-7 col-md-8 col-12">
                                                <span class="h3">&ldquo;Variant has been a massive plus for my workflow &mdash; I can now get live mockups out in a matter of hours, my clients really love it.&rdquo;
                                                </span>
                                                <h5>Rob Vasquez</h5>
                                                <span>Interface Designer &mdash; Yoke</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center imagebg" data-overlay="4">
                <div class="background-image-holder">
                    <img alt="background" src="/assets/img/living-room.jpg" />
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-6">
                            <div class="cta">
                                <h2>Title Goes Here</h2>
                                <p class="lead">
                                    the background image needs to be resized...I'm also putting the unit on the dresser that you can't see.
                                </p>
                                <a class="btn btn--primary type--uppercase" href="#">
                                    <span class="btn__text">
                                        Order Now
                                    </span>
                                    <span class="label">Special</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            {% include /stack/footer.html %}
            {%- comment -%}
            <footer class="space--sm footer-2 ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 col-6">
                            <h6 class="type--uppercase">Company</h6>
                            <ul class="list--hover">
                                <li>
                                    <a href="#">About Company</a>
                                </li>
                                <li>
                                    <a href="#">Our Team</a>
                                </li>
                                <li>
                                    <a href="#">Locations</a>
                                </li>
                                <li>
                                    <a href="#">History</a>
                                </li>
                                <li>
                                    <a href="#">Work With Us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-3 col-6">
                            <h6 class="type--uppercase">Developers</h6>
                            <ul class="list--hover">
                                <li>
                                    <a href="#">Developer Center</a>
                                </li>
                                <li>
                                    <a href="#">API Reference</a>
                                </li>
                                <li>
                                    <a href="#">Downloads</a>
                                </li>
                                <li>
                                    <a href="#">Tools</a>
                                </li>
                                <li>
                                    <a href="#">Developer Blog</a>
                                </li>
                                <li>
                                    <a href="#">Developer Forums</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-3 col-6">
                            <h6 class="type--uppercase">Support</h6>
                            <ul class="list--hover">
                                <li>
                                    <a href="#">Help Center</a>
                                </li>
                                <li>
                                    <a href="#">Live Chat</a>
                                </li>
                                <li>
                                    <a href="#">Downloads</a>
                                </li>
                                <li>
                                    <a href="#">Press Kit</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-3 col-6">
                            <h6 class="type--uppercase">Locations</h6>
                            <ul class="list--hover">
                                <li>
                                    <a href="#">Melbourne</a>
                                </li>
                                <li>
                                    <a href="#">London</a>
                                </li>
                                <li>
                                    <a href="#">New York</a>
                                </li>
                                <li>
                                    <a href="#">San Francisco</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-md-6">
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> Stack Inc.</span>
                            <a class="type--fine-print" href="#">Privacy Policy</a>
                            <a class="type--fine-print" href="#">Legal</a>
                        </div>
                        <div class="col-md-6 text-right text-left-xs">
                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-google icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
            {%- endcomment -%}
        </div>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="/assets/js/jquery-3.1.1.min.js"></script>
        <script src="/assets/js/flickity.min.js"></script>
        <script src="/assets/js/easypiechart.min.js"></script>
        <script src="/assets/js/parallax.js"></script>
        <script src="/assets/js/typed.min.js"></script>
        <script src="/assets/js/datepicker.js"></script>
        <script src="/assets/js/isotope.min.js"></script>
        <script src="/assets/js/ytplayer.min.js"></script>
        <script src="/assets/js/lightbox.min.js"></script>
        <script src="/assets/js/granim.min.js"></script>
        <script src="/assets/js/jquery.steps.min.js"></script>
        <script src="/assets/js/countdown.min.js"></script>
        <script src="/assets/js/twitterfetcher.min.js"></script>
        <script src="/assets/js/spectragram.min.js"></script>
        <script src="/assets/js/smooth-scroll.min.js"></script>
        <script src="/assets/js/scripts.js"></script>
    </body>
</html>